body{
    min-height: 100vh;
    background: #f5e3ffbc;
}
body::before{
    content: '';
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 100%;
    background: linear-gradient(#824bda, #edcdff);
    clip-path: circle(20% at 90% 85%);
    animation: beforeup 3s infinite;
}
#top::before{
    content: '';
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 100%;
    background: linear-gradient(#e4b0ffbc, #9258B7);
    clip-path: circle(30% at 5% 0%);
    z-index: -1000;
    animation: beforedown 3s infinite;
}
@keyframes beforedown{
    0%{
        transform: translateY(3%);
    }
    50%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(3%);
    }
}
@keyframes beforeup{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(3%);
    }
    100%{
        transform: translateY(0%);
    }
}

#header-nav li:nth-child(3) a {
    color: #0085FF;
}
#header-nav li:nth-child(3) a::after{
    content: '';
    width: 200%; height: 5px;
    border-radius: 50px;
    background: #0085FF;
    transition: all .3s ease-out;
    position: absolute;
    bottom: -150%; left: -50%;
}

#top img{
    width: 90px;
    margin: 3% 0 0 5%;
}
#top img, #toptext{
    vertical-align: top;
}
#toptext{
    display: inline-block;
    height: 140px;
    margin: 3% 0 0 1%;
}
#toptext h2{
    position: relative;
    width: 190px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Cafe24Ssurround';
    color: #ffffff00;
    -webkit-text-stroke: 1.5px #000;
}
#toptext h2::after{
    content: '';
    position: absolute;
    width: 100%; height: 5px;
    border-radius: 50px;
    background: #9258B7;
    top: 60px; left: 0;
}
#toptext1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 2%;
}
#toptext1 span{
    color: #9258B7;
}
#toptext2{
    color: #9258B7;
    font-size: 15px;
    margin-top: 1%;
}

#middle{
    width: 100%;
    margin-top: 2%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
#middle a img{
    width: 50%;
    margin: 0 20%;
    transition: 0.3s;
}
#middle a img:hover{
    scale: 0.5;
}
#imgset{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    z-index: 1;
    animation: imgset 0.5s ease-in-out;
}
@keyframes imgset{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.card{
    position: relative;
    width: 280px; height: 400px;
    margin: 30px;
    box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    height: 90%;
}
.card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}
.content h2{
    position: absolute;
    top: -10px;
    left: 30px;
    font-size: 9em;
    color: rgba(0, 0, 0, 0.064);
    pointer-events: none;
}
.content h3{
    margin-top: 130px;
    font-size: 1.8em;
    color: #353535;
    z-index: 1;
}
.content p{
    font-size: 1em;
    color: #353535;
    margin-top: 10px;
}
.card img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.card:hover img{
    opacity: 0.5;
    transition: 0.5s;
}


@media (max-width: 1563px){
    .card{
        width: 252px; height: 360px;
    }    
    #middle a img{
        width: 30px;
        margin: 0 10%;
    }    
}
@media (max-width: 1330px){
    body::before{
        height: 1250px;
    }
    #imgset{
        display: block;
        text-align: center;
    }   
    .card{
        display: inline-block;
        position: relative;
    }
    #middle a{
        position: absolute;
    }
    #left{
        left: 10%;
    }
    #right{
        right: 10%;
    }
    .card img{
        width: 100%;
        left: 0;
    }
    #card1{
        margin-left: 180px;
    }
    #card2{
        margin-right: 180px;
    }
    #card3{
        margin-left: 180px;
    }
    #card4{
        margin-right: 180px;
    }
    footer{
        position: static;
    }
}

/*패드*/
@media (max-width: 1023px){
    body::before{
        height: 1400px;
    }
    #top{
        margin-top: 2%;
    }
    #toptext1{
        font-size: 20px;
    }
    #left, #right{
        position: absolute;
        bottom: -10%;
    }
    #left{
        left: 30%;
    }
    #right{
        right: 30%;
    }
    #card1, #card2, #card3, #card4{
        margin: 40px;
    }
    footer{
        position: static;
        margin-top: 20%;
    }
}

/*모바일*/
@media (max-width: 757px){  
    body::before{
        height: 2000px;
    }
    #top img{
        width: 50px;
    }
    #toptext{
        height: 100%;
    }
    #toptext1{
        font-size: 15px;
    }
    #toptext2{
        font-size: 10px;
    }
    #toptext h2{
        font-size: 35px;
    }
    #toptext h2::after{
        content: '';
        position: absolute;
        width: 72%; height: 5px;
        border-radius: 50px;
        background: #087700;
        top: 40px; left: 0;
    }
    #middle a img{
        text-align: center;
        margin-bottom: 100px;
    } 
    #left{
        position: absolute;
        left: 40%;
    }   
    #right{
        position: absolute;
        right: 42%;
    }   
    #imgset{
        width: 100%;
        margin: 0 auto;
    }
    .card{
        display: block;
        width: 280px;
    }
    #card1, #card2, #card3, #card4 {
        margin: 7% auto;
    }
    footer{
        position: static;
    }
}